.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    font-family: "Source Code Pro", sans-serif;
}

.main h1 {
}

.main h2 {
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

.selectedUserSection {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 1rem;
}

.selectedUserProfilePic {
    width: 20%;
    height: 20%;
}

.selectedUserContent {
    margin-left: 1rem;
}

.selectedUserUsername {
    font-weight: bold;
}

.filterButtons {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.filterButton {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #19a9e4;
    color: white;
    border: 2px solid black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.filterButton:hover {
    background-color: white;
    color: #19a9e4;
}
