.table {
    width: 70%;
    border-collapse: separate;
    border-spacing: 0 10px;
    font-size: 1rem;
    text-align: left;
}

.table td {
    background-color: #0f1517;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

.table tbody tr:hover td {
    background-color: #1b1e28;

    .categories {
        background-color: #1b1e28;
    }

    .title {
        background-color: #1b1e28;
    }
}

.image {
    width: 10%;
    padding: 0.5%;
}

.titleAndCategories {
    width: 40%;
    padding: 0.5%;
}

.title {
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    background-color: #0f1517;
}

.categories {
    text-align: left;
    color: gray;
    font-size: 1rem;
    background-color: #0f1517;
}

.discountColumn {
    width: 10%;
}

.discount {
    color: white;
    font-weight: bold;
    background-color: yellowgreen;
    border: 2px solid black;
    padding: 5% 7%;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    float: right;
}

.price {
    padding-right: 2%;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: right;
    width: 7%;
}

.purchaseColumn {
    width: 6%;
}

.purchaseButton {
    color: white;
    font-weight: bold;
    background-color: #19a9e4;
    border: 2px solid black;
    padding: 10% 15%;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.purchaseButton:hover {
    background-color: white;
    color: black;
}

.purchasedButton {
    color: black;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.45);
    border: 2px solid black;
    padding: 10% 11%;
    font-size: 1rem;
    cursor: default;
    transition: background-color 0.3s, color 0.3s;
    width: 2%;
}

.gamePageDiv {
    display: flex;
    width: 50%;
}

.gamePageTable {
    margin-left: 2rem;
    display: flex;
}

.gamePageImage {
    width: 50%;
    height: auto;
}

.gamePageTitle {
    font-weight: bold;
    font-size: 4rem;
    height: 40%;
    white-space: nowrap;
}

.gamePagePrice {
    font-size: 3rem;
    width: 10%;
}

.gamePageDiscount {
    font-size: 1rem;
    color: white;
    background-color: yellowgreen;
    border: 2px solid black;
    padding: 3% 5%;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    float: left;
    margin-bottom: 1rem;
}

.gamePageCategories {
    font-size: 1.5rem;
}
